<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fastter Classificados</title>
</head>
<body>
	<h1>Bem vindo a área de cadastro dos anúncios de Informática</h1>
	<h2>Preencha todos os campos a seguir:</h2>

	<br>
	<form action="/cadastro/submitInformaticaAd" name="" method="POST">
		<p>Descrição: <input type="text" name="adPresentation"> </p>
		<p>Telefone para contato: <input type="text" name="adContactPhone"></p>
		<p>Valor: <input type="text" name="adPrice"></p> 
		<p>Imagens: </p>
		<p>Enviar anúncio: <input type="submit" value="Enviar"></p>
	</form>
	<br>
	<p>Retornar para a página <a href="/main">inicial</a>.</p>

</body>
</html>