<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h2>Página de Cadastro de anúncios </h2>
	<p>Escolhe que tipo de anúncio deseja cadastrar: </p>
	<br>
	<p><a href="/cadastro/class01"> Eletrodomésticos </a></p>
	<p><a href="/cadastro/class02"> Eletroeletrônicos </a></p>
	<p><a href="/cadastro/class03"> Empregos </a></p>
	<p><a href="/cadastro/class04"> Imóveis </a></p>
	<p><a href="/cadastro/class05"> Informática </a></p>
	<p><a href="/cadastro/class06"> Serviços </a></p>
	<p><a href="/cadastro/class07"> Veículos </a></p>
	<br>
	<p>Retornar para a página inicial <a href="/main">início</a></p>
	
<!-- 	<form action="/cadastro/submited" method="POST"> -->
<!-- 		<label for="categoria">Categoria: </label> -->
<!-- 			<select id="categoria" name="categoria"> -->
<!-- 				<option value=""> </option> -->
<!-- 				<option value="servicos">Serviços </option> -->
<!-- 				<option value="empregos">Empregos </option> -->
<!-- 				<option value="eletrodomesticos">Eletrodomésticos </option> -->
<!-- 				<option value="eletroeletronicos">Eletroeletrônicos </option> -->
<!-- 				<option value="informatica">Informática </option> -->
<!-- 				<option value="imoveis">Imóveis </option> -->
<!-- 				<option value="veiculos">Veículos </option> -->
<!-- 			</select> <br> -->
<!-- 		Nome: <input type="text"> <br> -->
<!-- 		Time: <input type="text"> <br> -->
<!-- 			<br> -->
<!-- 			<input type="submit" value="Enviar"> -->
<!-- 	</form> -->
</body>
</html>