<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Bem vindo a área de cadastro dos anúncios de Eletroeletrônicos</h1>
	<h2>Preencha todos os campos a seguir:</h2>

	<br>
	<form action="/cadastro/submitEletroeletronicoAd"
		name="Eletrodomesticos" method="POST">

		Descrição: <input type="text" name="adPresentation"><br>

		Telefone para contato: <input type="text" name="adContactPhone"><br>

		Valor: <input type="text" name="adPrice"><br> Enviar
		imagens: <br> <input type="submit" value="Enviar">
	</form>

</body>
</html>