<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Bem vindo a área de cadastro dos anúncios de Eletrodomésticos</h1>
	<h2>Preencha todos os campos a seguir:</h2>

	<br>
	<form action="/cadastro/submitEletrodomesticoAd"
		name="Eletrodomesticos" method="POST">

		Descrição: <input type="text" name="adPresentation"><br>

		Telefone para contato: <input type="text" name="adContactPhone"><br>

		Valor: <input type="text" name="adPrice"><br> Enviar
		imagens: <br> <input type="submit" value="Enviar">
	</form>
	<br>
	<p>Retornar para a página inicial <a href="/main">início</a></p>




	<!-- 		<label for="categoria">Categoria: </label> -->
	<!-- 			<select id="categoria" name="categoria"> -->
	<!-- 				<option value=""> </option> -->
	<!-- 				<option value="servicos">Serviços </option> -->
	<!-- 				<option value="empregos">Empregos </option> -->
	<!-- 				<option value="eletrodomesticos">Eletrodomésticos </option> -->
	<!-- 				<option value="eletroeletronicos">Eletroeletrônicos </option> -->
	<!-- 				<option value="informatica">Informática </option> -->
	<!-- 				<option value="imoveis">Imóveis </option> -->
	<!-- 				<option value="veiculos">Veículos </option> -->
	<!-- 			</select> <br> -->
	<!-- 		Nome: <input type="text"> <br> -->
	<!-- 		Time: <input type="text"> <br> -->
	<!-- 			<br> -->


</body>
</html>