<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Fastter Classificados</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>
	<div>
		<div class="container-xl bg-light">
			<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
				<a href="/main" class=""><span class="">Fastter Classificados Online</span></a>
				<a class="btn btn-outline-primary" href="/eletrodomesticos" role="button">Eletrodomésticos</a>
				<a class="btn btn-outline-primary" href="/eletroeletronicos" role="button">Eletroeletrônicos</a>
				<a class="btn btn-outline-primary" href="/empregos" role="button">Empregos</a>
				<a class="btn btn-outline-primary" href="/imoveis" role="button">Imóveis</a>
				<a class="btn btn-outline-primary" href="/informatica" role="button">Informática</a>
				<a class="btn btn-outline-primary" href="/servicos" role="button">Serviços</a>
				<a class="btn btn-outline-primary" href="/veiculos" role="button">Veículos</a>

			</header>
		</div>
		<div class="container border-bottom">
			<div class="row justify-content-md-center">
				<div class="col ">
				</div>
				<div class="col col-5 align-items-center">
					<h1>Eletrodomésticos</h1>
				</div>
					
				<div class="col col-lg-2">
					<a class="btn btn-outline-secondary" href="/cadastro" role="button">Cadastrar anúncio</a>
				</div>
			</div>
			<div class="row justify-content-md-center">
				<div class="col col-lg-2"></div>
					<div class="col-md-auto">
						<p>Seja bem vindo</p>
					</div>
				<div class="col col-lg-2"></div>
			</div>
		</div>

		<div class="container-xl">
			<div class="row justify-content-md-center">
				<div class="col-md-auto">
					<p>Anúncios ativos no momento:</p>
				</div>
			</div>


			<table class="table table-hover table-dark">

				<tbody>
					<tr th:if="${listOfClass01Ads.empty}">
					<td ></td><td ></td><td ></td>
					<td ></td><td ></td><td ></td>
					<td ></td><td ></td><td colspan="2"></td><td colspan="2"></td><td colspan="2"></td>
            			<td colspan="6"> Nenhum cadastro ativo no momento </td>
        			</tr>
				
					<tr th:each="anuncio : ${listOfClass01Ads}">
<!-- 						<td th:text="${anuncio.adNumber}"></td> -->
						
						<td th:text="${anuncio.adCategory}"></td>
						
						<td th:text="${anuncio.adContactPhone}"></td>
						
						<td th:text="${anuncio.adPresentation}"></td>
					</tr>
				
				</tbody>
			</table>
		</div>




	</div>

	<script src="/javascript/bootstrap.min.js">
		
	</script>
</body>
</html>